<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DB0001" connectionString="Data Source=localhost;Initial Catalog=BKBSports;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>